.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    margin: 30px;
}
.count{
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.btnCant{
    width: 25px;
    padding: 5px;
}
.btnAgregar{
    width: 120px;
    padding: 5px;  
}